/* GLOBALS */
/* body {background-color: #f7f7f7;} */
.text_cell {background-color: cornsilk;}
.code_cell { background-color: lightskyblue; }
.selected { background-color: peachpuff; }
.output { background-color: aliceblue; }

